body, html {
  width: 100%;
  min-width: 320px
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  line-height: 1.4;
  position: relative;
  color: rgb(34, 100, 56);
  background: #fff;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-family: 'Meiryo UI','TsukuARdGothic-Regular', '游ゴシック体', 'Yu Gothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo, Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(28, 117, 73)
}

*, ::after, ::before {
  background-repeat: no-repeat;
  box-sizing: inherit
}

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

article, aside, footer, header, nav, section {
  display: block
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: 0
}

h2, h3, h4, h5, p {
  margin: 0
}

figcaption, figure, main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

nav ol, nav ul {
  list-style: none;
  margin: 0
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: inherit
}

b, strong {
  font-weight: bolder
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none
}

::selection {
  background-color: #b3d4fc;
  color: rgb(248, 111, 87);
  text-shadow: none
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

audio, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg {
  fill: currentColor
}

svg:not(:root) {
  overflow: hidden
}

table {
  border-collapse: collapse
}

button, input, optgroup, select, textarea {
  margin: 0
}

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto;
  resize: vertical
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details, menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[tabindex], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

[hidden] {
  display: none
}

[aria-busy=true] {
  cursor: progress
}

[aria-controls] {
  cursor: pointer
}

[aria-hidden=false][hidden] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute
}

[aria-hidden=false][hidden]:focus {
  clip: auto
}

[aria-disabled] {
  cursor: default
}

.l-body_wrapper_smp {
  display: none
}

@media screen and (max-width:700px), screen and (min-width:701px) and (max-width:960px) {
  .l-body_wrapper_smp {
    position: fixed;
    width: 100vw;
    height: 200vh;
    background: rgba(226, 226, 226, 0.301);
    z-index: 2;
    top: 0;
    left: 0
  }
  .l-body_wrapper_smp.is_menu_opened {
    display: block
  }
}

.l-container {
  padding-bottom: 25px;
  /* background-color: rgba(255, 254, 237, 0.66) */
}

.l-container::before {
  content: '';
  margin-top: -52px;
  position: absolute;
  display: block;
  width: 100%;
  height: 99%;
  z-index: -1;
  background-image: url(../images/background/linedpaper.png);
  background-repeat: repeat;
}

.l-container.top {
  background-image: none;
  background-color: initial;
}

.l-container.top:before {
  display: none;
}

.l-footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  font-size: 11px;
  z-index: 0;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 4px -1px rgb(255, 255, 255);
  background-color: #e63f29ce;
  color: #fff;
  font-family: 'Optima', sans-serif;
  letter-spacing: 0.1em;
}

.l-header {
  padding-bottom: 60px
}

.l-header .header_wrapper {
  position: fixed;
  top: 0;
  height: 60px;
  --webkit-transition: 0.3s all ease;
  transition: .3s all ease;
  background-color: #e63f29ce;
  z-index: 2;
  color: #fff;
  width: 100%
}

@media screen and (max-width:700px), screen and (min-width:701px) and (max-width:960px) {
  .l-header .header_wrapper {
    overflow: visible
  }
}

.l-header .header_wrapper::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: #f8675d8c;
  height: 10px;
}

/* .l-header .header_wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: -1;
  box-shadow: 0 -101px 99px 146px rgba(125, 125, 125, .72)
} */

.l-header .header_group {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  height: 60px
}

.l-header .header_contents {
  position: relative;
  max-width: 1300px;
  box-sizing: border-box;
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%
}

.l-header .header_contents::before {
  content: '';
  line-height: 50px;
  vertical-align: middle
}

.l-header .header_logo {
  font-size: 18px;
  padding: 0 20px;
  width: 214px;
  box-sizing: border-box;
  font-family: 'Optima', sans-serif;
}

.l-header .header_logo a {
  color: #fff;
  font-size: 23px;
}

.l-header .header_logo img {
  width: 100%
}

.l-header .header_nav li {
  display: inline-block;
  padding: 0 15px;
  box-sizing: border-box
}

.l-header .header_nav li.smp_nav {
  display: none
}

.l-header .header_nav li a {
  color: #fff;
  font-weight: 700;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  position: relative;
  opacity: 1;
  --webkit-transition: all ease 0.5s;
  transition: all ease .5s
}

.l-header .header_nav li a:hover {
  opacity: .7
}

.l-header .header_nav li .header_nav_icon {
  display: none
}

.l-header .header_smp {
  display: none
}

@media screen and (max-width:700px), screen and (min-width:701px) and (max-width:960px) {
  .l-header .header_contents {
    padding: 0
  }
  .l-header .nav {
    width: 100%;
    padding-top: 60px;
    opacity: 0;
    top: -100vw;
    left: 0;
    --webkit-transition: all ease 0.3s;
    transition: all ease .3s;
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    line-height: 38px;
    z-index: -1
  }
  .l-header .nav.is_selected {
    display: block;
    top: 0;
    opacity: 1
  }
  .l-header .nav ul {
    padding: 0
  }
  .l-header .nav li {
    display: block;
    border-bottom: 1px solid rgba(33, 33, 33, .22);
    background: rgba(255, 122, 104, 0.548)
  }
  .l-header.is_menu_opened {
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 0 0 2px 1px rgb(248, 248, 248)
  }
  .l-header.is_menu_opened .header_contents .header_group.header_subheading {
    left: 87px
  }
  .l-header.is_menu_opened .header_contents .logo .header_logo_big .img {
    width: 0;
    opacity: 0
  }
  .l-header.is_menu_opened .header_contents .logo .header_logo_small .img {
    width: 60px;
    opacity: 1
  }
  .l-header .header_smp {
    display: inline-block;
    position: absolute;
    right: 0
  }
  .l-header .header_smp .header_btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    --webkit-transition: background-color ease 0.3s;
    transition: background-color ease .3s
  }
  .l-header .header_smp .header_btn .text {
    display: inline-block;
    width: 100%
  }
  .l-header .header_smp .header_btn.is_menu_opened {
    background-color: rgba(58, 56, 35, 0.38)
  }
 .l-header .header_smp .header_btn::before {
    display: inline-block;
    font-family: "fontawesome";
    font-weight: 400;
    display: inline-block
  }
  .l-header .header_smp .header_menu_btn::before {
    content: '\f0c9';
    font-family: "fontawesome";
    line-height: 34px;
    font-size: 28px;
    padding-top: 5px
  }
}

.l-header .header_link_twitter::before {
  content: '\f099';
  font-family: "Font Awesome 5 Brands";
  padding-right: 5px
}

.l-header .header_link_instagram::before {
  content: '\f16d';
  font-family: "Font Awesome 5 Brands";
  padding-right: 5px
}

.l-header .header_link_line::before {
  content: '\f3c0';
  font-family: "Font Awesome 5 Brands";
  padding-right: 5px
}
@media screen and (max-width:700px) and (max-width:700px), screen and (min-width:701px) and (max-width:960px) and (max-width:700px) {
  .l-header .header_group.header_subheading {
    left: 80px
  }
}

@media screen and (max-width:700px) and (max-width:400px), screen and (min-width:701px) and (max-width:960px) and (max-width:400px) {
  .l-header .header_group.header_subheading {
    left: 73px
  }
}

.is_smp {
  display: none
}

@media screen and (max-width:700px) {
  .is_smp {
    display: block
  }
}

@media screen and (max-width:700px) {
  .is_pc {
    display: none
  }
}

.l-main_contents_wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 60px 15px;
  position: relative
}

.l-main_contents_wrapper .l-main_contents_h2 {
  text-align: center;
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: .05em
}

@media screen and (max-width:700px) {
  .l-main_contents_wrapper .l-main_contents_h2 {
    padding-bottom: 35px
  }
}


.u-bg_gray {
  background-color: #f8fcff;
  background-image: url(../images/background/linedpaper.png)
}

.u-bg_white {
  /* background-color: #d8d7cd;
  background-color: #fffef0; */
  background-color: #ffe3e0d3;
  /* background-image: url(../images/background/linedpaper.png);
  background-image: url(../images/background/first_aid_kit.png); */
  background-image: url(../images/background/rough_diagonal.png)
}

.u-bg_gray:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-color: rgba(255, 247, 198, 0.14); */
  /* background-color: rgba(97, 184, 255, 0.06) */
}

.u-bg_white:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-color: rgba(255, 254, 237, 0.66);
  background-color: rgba(255, 247, 198, 0.14); */
  background-color: rgba(255, 252, 151, 0.08)
}

[class*=u-bg_] {
  position: relative;
  background-repeat: repeat
}

.clearfix::after {
  content: "";
  display: block;
  clear: both
}



.p-index .home_top_container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  opacity: 0
}

@media screen and (max-width:700px) {
  .p-index .home_top_container {
    opacity: 1;
    --webkit-transition: none;
    transition: none
  }
}

.p-index .home_top_container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  /* box-shadow: 0 0 116px 25px rgba(0, 0, 0, .46) inset; */
  box-shadow: 0 0 116px 25px rgba(255, 238, 163, 0.651) inset;
  opacity: 0.5;
  z-index: 0
}

.p-index .home_top_container::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #000000;
  background: #00000091;
  /* background: #fffbe5; */
  z-index: -2
}


@media screen and (max-width:700px), screen and (min-width:701px) {
  .p-index .home_top_container {
    height: 440px
  }
}

.p-index .home_top_container_img {
  position: absolute;
  max-width: 1000px;
  width: 100%;
  left: 50%;
  top: 40vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1
  
}

@media screen and (min-width:1000px) {
  .p-index .home_top_container_img {
    top: 400px;
  }
}

@media screen and (max-width:510px) {
  .p-index .home_top_container_img {
    top: 50%;
  }
}

.p-index .home_top_container_textblock {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 78%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:rgb(9, 43, 20);;
  /* background: #111f4685; */
  /* background: #00000057; */
  background: #ffffffa2;
  padding-bottom: 8px;
}

@media screen and (min-width:750px) {
  .p-index .home_top_container_textblock {
    width: 600px;
  }
}

.p-index .home_top_container_textblock_h2, .p-index .home_top_container_textblock_link {
  text-align: center
}

.p-index .home_top_container_textblock_h2 {
  position: relative;
  top: -5%;
  font-size: 60px;
  padding-bottom: 10px;
  letter-spacing: .03em;
  font-family: 'Optima', sans-serif;
}


@media screen and (max-width:700px), screen and (min-width:701px){
  .p-index .home_top_container_textblock_h2 {
    font-size: 50px
  }
  .p-index .home_top_container_textblock_logo {
    position: relative;
    width:250px;
    height:auto;
    left: 50%;
    margin-left: -140px;
    top: 0%;
    
  }
}

@media screen and (max-width:530px) {
  .p-index .home_top_container_textblock_h2 {
    font-size: 42px
  }
  .p-index .home_top_container_textblock_logo {
    position: relative;
    width:230px;
    height:auto;
    left: 50%;
    margin-left: -130px;
    top: 0%;
    
    
  }
}

.p-index .home_top_container_textblock_days {
  padding-bottom: 25px;
  text-align: center;
  font-family: 'Meiryo UI','TsukuARdGothic-Regular', '游ゴシック体', 'Yu Gothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo, Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  letter-spacing: 0.12em;
  font-size: 15px;
  
}



.p-index .home_top_container_textblock_days .ja {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Meiryo UI','TsukuARdGothic-Regular', '游ゴシック体', 'Yu Gothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo, Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  letter-spacing: 0em;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  margin: 2px;
  color: white;
  padding: 1px;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}



@media screen and (max-width:700px){
  .p-index .home_top_container_textblock_days {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (min-width:701px){
  .p-index .home_top_container_textblock_days {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width:530px) {
  .p-index .home_top_container_textblock_days .ja {
    font-size: 12px;
    flex: 1 0 0;
    line-height: 25px;
  }
}


@media screen and (max-width:530px) {
  .p-index .home_top_container_textblock_days br {
    display: inline;
  }
}




.p-index .home_main_block h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: .05em
}

@media screen and (max-width:530px) {
  .p-index .home_main_block h2 {
    margin-bottom: 30px;
    font-size: 23px
  }
}

.p-index .home_main_block .home_main_contents {
  text-align: center
}

@media screen and (min-width:701px){
  .p-index .home_main_block p {
    font-size: 14px;
    line-height: 1.6em
  }
}

@media screen and (max-width:700px) {
  .p-index .home_main_block p {
    font-size: 15px
  }
}

@media screen and (max-width:530px) {
  .p-index .home_main_block p {
    font-size: 13px
  }
}

.p-index .home_main_block .home_main_contents_intro_top {
  text-align: left;
  position: relative
}

.p-index .home_main_block .home_main_contents_intro_top img {
  width: 90%
}

@media screen and (max-width:700px) {
  .p-index .home_main_block .home_main_contents_intro_top img {
    width: 100%
  }
}

.p-index .home_main_block .home_main_contents_intro_top p {
  position: relative;
  bottom: 4%;
  line-height: 1.9em;
  letter-spacing: .06em;
  padding: 21px 20px;
  width:100%;
}

@media screen and (min-width:701px)  {
  .p-index .home_main_block .home_main_contents_intro_top p {
    position: relative;
    text-align: left;
    bottom: 4%;
    line-height: 1.9em;
    top: 10px;
    left: 50%;
    margin-left:-300px; 
    letter-spacing: .06em;
    padding: 21px 20px;
    width:300px;
      
  }
  .p-index .home_main_block .home_main_contents_intro_top img {
    position: absolute;
    top: 20%;
    left: 50% ;
    bottom: 4%;
    width: 300px;
  }
}

@media screen and (max-width:700px) {
  .p-index .home_main_block .home_main_contents_intro_top p {
    position: static;
    margin-top: 10px
  }
}

.p-index .home_main_block .home_main_contents_intro_bottom {
  padding-top: 40px;
  text-align: center
}

@media screen and (max-width:400px) {
  .p-index .home_main_block .home_main_contents_intro_bottom {
    padding-top: 15px
  }
}


.p-index .home_main_block .home_main_contents_intro_bottom a {
  margin: 0 20px;
  display: inline-block;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  font-weight: 700
}

@media screen and (max-width:530px) {
  .p-index .home_main_block .home_main_contents_intro_bottom a {
    width: 170px;
    font-size: 14px
  }
  .p-index .home_main_block .home_main_contents_intro_bottom a:first-child {
    margin: 0 5px 0 0
  }
  .p-index .home_main_block .home_main_contents_intro_bottom a:last-child {
    margin: 0 0 0 5px
  }
}

@media screen and (max-width:400px) {
  .p-index .home_main_block .home_main_contents_intro_bottom a {
    display: block;
    width: 200px
  }
  .p-index .home_main_block .home_main_contents_intro_bottom a:first-child {
    margin: 0 auto
  }
  .p-index .home_main_block .home_main_contents_intro_bottom a:last-child {
    margin: 10px auto 0 auto
  }
}

.p-index .home_main_block .home_main_contents_days_top {
  position: relative
}

.p-index .home_main_block .home_main_contents_days_top .home_main_contents_days_top_imgwrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px
}

.p-index .home_main_block .home_main_contents_days_top img {
  width: 22%;
  padding: 1%;
  --webkit-transition: width ease 0.3s;
  transition: width ease .3s;
  max-width: 270px
}

.p-index .home_main_block .home_main_contents_days_top img:hover {
  width: 33%
}

@media screen and (max-width:700px), screen and (min-width:701px) and (max-width:960px) {
  .p-index .home_main_block .home_main_contents_days_top img {
    width: 30%
  }
}

@media screen and (max-width:530px) {
  .p-index .home_main_block .home_main_contents_days_top img {
    width: 33%;
    padding: 0
  }
  .p-index .home_main_block .home_main_contents_days_top img:hover {
    width: 40%
  }
}

.p-index .home_main_block .home_main_contents_days_top p {
  line-height: 1.9em;
  letter-spacing: .06em;
  text-align: left;
  display: inline-block
}

.p-index .home_main_block .home_main_contents_days_bottom {
  padding-top: 40px;
  text-align: center
}

.p-index .home_main_block .home_main_contents_days_bottom a {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  background: #5d5d5d;
  color: #fff;
  border: 2px solid #737373;
  position: fixed;
  top: 0;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  overflow: hidden
}

@media screen and (max-width:530px) {
  .p-index .home_main_block .home_main_contents_days_bottom a {
    font-size: 14px
  }
}

@media screen and (max-width:400px) {
  .p-index .home_main_block .home_main_contents_days_bottom a {
    font-size: 13px
  }
}

.p-index .home_main_block .home_main_contents_days_bottom a:hover {
  text-decoration: none;
  border: 2px solid #505050;
  background: rgba(64, 64, 64, .72)
}

.p-index .home_main_block .home_main_contents_days_bottom a span.btn_text {
  z-index: 20
}

.p-index .home_main_block .home_main_contents_days_bottom a:after {
  position: absolute;
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: .2;
  top: -50px;
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  --webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  width: 50px;
  z-index: 1
}

.p-index .home_main_block .home_main_contents_days_bottom a:hover:after {
  left: 120%;
  --webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(.19, 1, .22, 1)
}

.p-index .home_main_block .home_main_contents_access_top {
  padding-bottom: 20px
}

.p-index .home_main_block .home_main_contents_access_top p {
  line-height: 1.9em;
  letter-spacing: .06em;
  text-align: left;
  display: inline-block
}

.p-index .home_main_block .home_main_contents_access_bottom {
  padding-top: 40px
}

.p-index .home_main_block .home_main_contents_access_bottom .home_main_contents_access_map_img {
  display: block;
  margin: 0 auto;
  width: 37%;
  min-width: 260px;
  margin-top: 33px;
  border: 4px solid #dedede
}

.p-index .home_main_block .home_main_contents_access_bottom .home_main_contents_access_map_wrapper {
  max-width: 100%;
  width: 600px;
  margin: 0 auto
}

.p-index .home_main_block .home_main_contents_twitter_top {
  padding-bottom: 40px
}

.p-index .home_main_block .home_main_contents_twitter_top p {
  line-height: 1.9em;
  letter-spacing: .06em;
  text-align: left;
  display: inline-block
}

.p-index .home_main_block .home_main_contents_twitter_bottom {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  border: 5px solid #eaeaea
}

.iframe-content {
  position: relative;
  width: 100%;
   padding: 75% 0 0 0;
}
.iframe-content iframe {
   position: absolute;
  top: 0;
  left: 0;
   width: 100%;
   height: 100%;
}

/*menu*/
h3.sample1 {
  text-align: center;
  margin-top: 10px
}

.main {
  width: 500px;
  height: 350px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}
.btn {
  position: absolute;
  top: 30%;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: rgb(193, 193, 193);
  border-radius: 100%;
  cursor: pointer;
}
.btn:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.btn-prev {
  left: 0;
}
.btn-prev::before {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.btn-next {
  right: 0;
}
.btn-next::before {
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}
.slider-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slider-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left: 0;
}
.slider-item {
  list-style: none;
  min-width: 100%;
}
.slider-img {
  width: 100%;
}


/*# sourceMappingURL=app.css.map */
